<div class="to-home"><i class="uil uil-arrow-up"></i></div>

<footer>
    <h1>Royston</h1>
    <ul class="footer-menu">
        <a href="#about">
            <li>About</li>
        </a>
        <a href="#portfolio">
            <li>Portfoliio</li>
        </a>
        <a href="#contact">
            <li>Contact me</li>
        </a>
    </ul>
    <ul class="footer-social-links">
        <a href="https://www.linkedin.com/feed/" target="_blank">
            <li><i class="uil uil-linkedin-alt"></i></li>
        </a>
        <a href="https://www.facebook.com/royston.rodrigues.750" target="_blank">
            <li><i class="uil uil-facebook-f"></i></li>
        </a>
        <a href="https://github.com/royston741" target="_blank">
            <li><i class="uil uil-github-alt"></i></li>
        </a>
    </ul>
    <div><i class="uil uil-copyright"></i>Royston.All right reserved</div>
</footer>