<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royston</title>

    <!--------------------ICONS-------------------->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--------------------GOOGLE FONTS-------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
        rel="stylesheet">

    <!--------------------CSS-------------------->
    <link rel="stylesheet" href="css/style.css">



</head>

<body>
    <header class="home" id="home">
        <nav>
            <a href="#home" class="name">Royston</a>
            <div class="mobile_view">
                <ul class="menu_links">
                    <a href="#home">
                        <li class="menu_link home-link"><i class="uil uil-estate"></i>Home</li>
                    </a>
                    <a href="#about">
                        <li class="menu_link about-link"><i class="uil uil-user"></i>About </li>
                    </a>
                    <a href="#skills">
                        <li class="menu_link skills-link"><i class="uil uil-file-alt"></i>Skills</li>
                    </a>
                    <a href="#services">
                        <li class="menu_link services-link"><i class="uil uil-briefcase-alt"></i>Services </li>
                    </a>
                    <a href="#portfolio">
                        <li class="menu_link portfolio-link"><i class="uil uil-scenery"></i>Portfolio</li>
                    </a>
                    <a href="#contact">
                        <li class="menu_link contact-link"><i class="uil uil-message"></i>Contact me</li>
                    </a>
                    <div class="cancel">
                        <i class="uil uil-times"></i>
                    </div>
                </ul>

                <div>
                    <div class="mode">
                    </div>
                    <div class="toggle">
                        <i class="uil uil-apps app"></i>
                    </div>
                </div>
            </div>
        </nav>
        <div class="section">

            <div class="section-links">
                <a href="https://www.linkedin.com/feed/" target="_blank">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
                <a href="https://www.facebook.com/royston.rodrigues.750" target="_blank">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a href="https://github.com/royston741" target="_blank">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>

            <div class="section-introduction">

                <div class="section-introduction-text">
                    <h1>Hi, i'am Royston</h1>
                    <h3>Full Stack devekoper</h3>
                    <pre>High level of experience in web design and 
development knowledge,producing 
quality work.</pre>

                    <a href="#contact">
                        <button>Contact Me <i class="uil uil-navigator"></i></button>
                    </a>

                    <div class="mouse">
                        <i class="uil uil-mouse-alt mouse-scroll"></i>
                        <p>Scroll down</p>
                        <i class="uil uil-arrow-down"></i>
                    </div>
                </div>

                <div class="section-introduction-img">
                    <img src="/img/i5.svg" alt="">
                </div>

            </div>

        </div>
    </header>
