<div class="sec about s" id="about">
    <h1>About Me</h1>
    <h4>My Introduction</h4>
    <div class="about-content section-content">
        <div class="about-img">
            <img src="img/i6.svg" alt="">
        </div>
        <div class="about-text">
            <p class='about-intro'>
                Web developer, with extensive knowledge and experience, working in web technologies and delivering
                quality
                work.
            </p>
            <div class="about-boxes">
                <div class="about-box">
                    <h2>01+</h2>
                    <p>Years of coding  experience</p>
                </div>
                <div class="about-box">
                    <h2>20+</h2>
                    <p>Experimental projects</p>
                </div>
                <!-- <div class="about-box">
                    <h2>05+</h2>
                    <p>Companies worked</p>
                </div> -->
            </div>
            <%if(downloadCV){%>
                <a href=<%=downloadLocation %> download="cv.txt">
                    <button class="btn">Download CV<i class="uil uil-download-alt"></i></button>
                </a>
                <%}else{%>
                    <button class="btn" onclick="displayAboutModal()">Download CV<i class="uil uil-download-alt"></i></button>
                    <%}%>
        </div>
        <div class="about-modal">
            <div class="about-modal-box">
                <div class="cancel-section"><i class="uil uil-times"  onclick="cancelAboutModal()"></i></div>
                <h3>CV not available.</h3>
            </div>
        </div>
    </div>

</div>