<div class="sec contact" id="contact">
    <h1>Contact Me</h1>
    <h4>Get in touch</h4>
    <div class="contact-content section-content">
        <div class="contact-info">
            <div class="email">
                <i class="uil uil-envelope-alt"></i>
                <div>
                    <h3>Email</h3>
                    <p>roy71ston@gmail.com</p>
                </div>
            </div>
            <div class="whatsapp">
                <i class="uil uil-whatsapp"></i>
                <div>
                    <h3>whatsapp</h3>
                    <p>999-999-999</p>
                </div>
            </div>
            <div class="location">
                <i class="uil uil-location-point"></i>
                <div>
                    <h3>Location</h3>
                    <p>India</p>
                </div>
            </div>
        </div>
        <form action="" class="contact-form">
            <div>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
            </div>
            <input type="text" placeholder="Project">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <div>
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>