<div class="sec discount">
    <div class="discount-content section-content">
        <div class="discount-text">
            <h2>You have a new project</h2>
            <p>Contact me now and get a 30% off on your new project</p>
           <a href="#contact">
               <button class="btn">Contact Me<i class="uil uil-navigator"></i></button>
            </a> 
        </div>
        <div class="discount-img">
            <img src="img/i1.svg" alt="">
        </div>
    </div>
</div>