<div class="sec portfolio " id="portfolio">
    <h1>Portfolio</h1>
    <h4>My projects</h4>
    <div class="portfolio-content section-content">
        <div class="project-select-slider">
            <button class="project-left-btn project-slider-btn"><i class="uil uil-angle-left-b"></i></button>
            <ul class="project-select">
                <li class="project-selected">All</li>
                <li>Frontend</li>
                <li>Backend</li>
                <li>React</li>
            </ul>
            <button class="project-right-btn project-slider-btn"><i class="uil uil-angle-right-b"></i></button>
        </div>
        <div class="project-container">

        </div>

    </div>
</div>