<div class="sec qualification ">
    <h1>Qualifications</h1>
    <h4>My personal journey</h4>

    <div class="qualification-content section-content">

        <div class="qualification-select">
            <div class="education active">
                <i class="uil uil-graduation-cap edu"></i>
                Education
            </div>
            <div class="work">
                <i class="uil uil-briefcase-alt wor"></i>
                Work
            </div>
        </div>

        <div class="qualification-boxes">

            <div class="qualification-box education-box ">

                <div class="qualification--box">
                    <div class="qualification-round">
                        <div></div>
                    </div>
                    <div>
                        <h4>Bsc Computer science</h4>
                        <p class="qualification-from">Mumbai university</p>
                        <p><i class="uil uil-calendar-alt"></i>2019-2022</p>
                    </div>

                </div>


                <div class="qualification--box">
                    <div class="qualification-round">
                        <div></div>
                    </div>

                    <div>
                        <h4>Full stack development</h4>
                        <p class="qualification-from">Udemy</p>
                        <p><i class="uil uil-calendar-alt"></i>2020-2021</p>
                    </div>

                </div>

            </div>

            <div class="qualification-box work-box display-qualification">

                <div class="qualification--box">
                    <div class="qualification-round">
                        <div></div>
                    </div>
                    <div>
                        <h4>Bsc Computer science</h4>
                        <p class="qualification-from">Mumbai university</p>
                        <p><i class="uil uil-calendar-alt"></i>2021-2022</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>