<div class="sec services " id="services">
    <h1>Services</h1>
    <h4>What i offer</h4>
    <div class="services-content section-content">
        <div class="service-cards">

            <div class="service-card">
                <i class="uil uil-arrow"></i>
                <h2>Frontend Developer</h2>
                <p class="frontend-view">View More <i class="uil uil-arrow-right"></i></p>
                <div class="service-modal frontend-modal">
                    <div class="service-specification">
                        <div class="service-spe-header">
                            <h3>Frontend Developer</h3>
                            <i class="uil uil-times cancel-modal"></i>
                        </div>
                        <div class="service-spec-content">
                            <div class="service-spec--content"><i class="uil uil-check-circle"></i>
                                I develop the user interface.</div>
                            <div class="service-spec--content"><i class="uil uil-check-circle"></i>
                                Web page development.</div>
                            <div class="service-spec--content"><i class="uil uil-check-circle"></i>
                                Creating responsive web pages</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="service-card">
                <i class="uil uil-server-network"></i>
                <h2>Backend Developer</h2>
                <p class="backend-view">View More <i class="uil uil-arrow-right"></i></p>
                <div class="service-modal backend-modal">
                    <div class="service-specification">
                        <div class="service-spe-header">
                            <h3>Backend Developer</h3>
                            <i class="uil uil-times cancel-modal"></i>
                        </div>
                        <div class="service-spec-content">
                            <div class="service-spec--content"><i class="uil uil-check-circle"></i>
                                Creating a server.</div>
                            <div class="service-spec--content"><i class="uil uil-check-circle"></i>
                                Connecting server to a database.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>