<div class="sec skill s" id="skills">
    <h1>Skills</h1>
    <h4>My technical level</h4>

    <div class="skill-content section-content">

        <div class="skill-box frontend">

            <div class="skill-text">
                <i class="uil uil-brackets-curly"></i>
                <div class="skill-dev">
                    <h3>Frontend developer</h3>
                    <p>More than 1 year</p>
                </div>
                <i class="uil uil-angle-down down-arrow"></i>
            </div>
            <ul class="skill-tools">
            </ul>

        </div>

        <div class="skill-box backend">

            <div class="skill-text">
                <i class="uil uil-server-network"></i>
                <div class="skill-dev">
                    <h3>Backend developer</h3>
                    <p>More than 5 months</p>
                </div>
                <i class="uil uil-angle-down down-arrow"></i>
            </div>
            <ul class="skill-tools">

            </ul>

        </div>

        <div class="skill-box database">
            <div class="skill-text">
                <i class="uil uil-database"></i>
                <div class="skill-dev">
                    <h3>Database</h3>
                    <p>More than 5 months</p>
                </div>
                <i class="uil uil-angle-down down-arrow"></i>
            </div>
            <ul class="skill-tools">
            </ul>

        </div>

    </div>

</div>
