<div class="sec slider">
    <h1>Testimonial</h1>
    <h4>My client saying</h4>
    <div class="slider-content section-content">
        <button class="slide-btn slide-left"><i class="uil uil-angle-left-b"></i></button>
        <div class="slide-box">
            <div class="slide">
                <div class="slide-header">
                    <div class="slide-person">
                        <div class="slide-user">
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="slide-person-name">
                            <h4>Jhon Wick</h4>
                            <p>Client</p>
                        </div>
                    </div>
                    <div class="slide-stars">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>
                <div class="slide-footer"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum possimus, perferendis ex dignissimos eos odio laboriosam assumenda impedit corrupti.</p></div>
            </div>
            <div class="slide">
                <div class="slide-header">
                    <div class="slide-person">
                        <div class="slide-user">
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="slide-person-name">
                            <h4>Jhon Wick</h4>
                            <p>Client</p>
                        </div>
                    </div>
                    <div class="slide-stars">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>
                <div class="slide-footer"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum possimus, perferendis ex dignissimos eos odio laboriosam assumenda impedit corrupti.</p></div>
            </div>
            <div class="slide">
                <div class="slide-header">
                    <div class="slide-person">
                        <div class="slide-user">
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="slide-person-name">
                            <h4>Jhon Wick</h4>
                            <p>Client</p>
                        </div>
                    </div>
                    <div class="slide-stars">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>
                <div class="slide-footer"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum possimus, perferendis ex dignissimos eos odio laboriosam assumenda impedit corrupti.</p></div>
            </div>
        </div>
        <button class="slide-btn slide-right"><i class="uil uil-angle-right-b"></i></button>

    </div>
</div>